<% content_for :head do %>
  <%= auto_discovery_link_tag(:rss, posts_url(format: "rss")) %>
<% end %>
<div class="max-w-3xl mx-auto my-10">

  <h1 class="font-bold text-3xl">Posts</h1>

  <div id="posts">
    <% @posts.each do |post| %>
      <div class="my-6">
        <%= render post %>
        <p class="my-2">
          <%= link_to "View post", post, class: "underline" %>
        </p>
      </div>
    <% end %>
  </div>

  <%= link_to "New post", new_post_path %>
</div>
